<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vrde Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico"
        href="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/faviconvrde.ico" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
</head>

<body>
    <div class="main" id="app">
        <div class="totalFloat" id="totalFloat">${{cartTotal}}</div>
        <div class="header">
            <div class="headerDisplay">
                <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/logovrde.png" alt=""
                    class="logo">
                <div class="contain">
                    <div class="search">
                        <div class="searchLabel">Bienvenides!</div>
                        <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/onlyLogoVrde.png" alt="" class="headerLogo">
                        <input id="searchInput" v-on:input="scrollTopProducts()" type="text" v-model="search"
                            placeholder="Que buscas?">
                    </div>
                    <div class="filter" id="up">
                        <a class="button" v-bind:class="{active : active['verdura'].status}"
                        @click="setVisibility('verdura');">
                        <img class="filterIcon"
                        src="https://storage.cloud.google.com/el-conjunto.appspot.com/carrot.png">Verduras</a>
                        <a class="button" v-bind:class="{active : active['fruta'].status}"
                        @click="setVisibility('fruta');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/apple.png">Frutas</a>
                        <a class="button" v-bind:class="{active : active['almacen'].status}"
                            @click="setVisibility('almacen');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/milk.png">Almacén</a>
                    </div>
                    <div class="filter" id="down">
                        <a class="button" v-bind:class="{active : active['vinos'].status}"
                            @click="setVisibility('vinos');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/wine.png">Vinos</a>

                        <a class="button" id="lines2" v-bind:class="{active : active['medicina'].status}"
                            @click="setVisibility('medicina');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/pills.png">Cuidado Personal</a>

                        <a class="button" id="lines2" v-bind:class="{active : active['comida'].status}"
                            @click="setVisibility('comida');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/comida.png">Productos Locales</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="products" id="products">
            <div v-cloak class="item" v-for="item in orderBy(filteredItems, 'name')">
                <img :src="`${item.image}`" class="productImage">
                <div class="title">
                    {{item.name}} = ${{ item.price }}
                    <br>
                </div>
                <div class="agotado" v-if="item.outOfStock === true">Agotado</div>
                <div class="setAmount">
                    <div class="remove" v-on:click="removeItem(item)">-</div>
                    <input type="number" step="any" class="amount" v-on:input="updateValue(item)"
                        v-model="item.amount" />
                    <div class="add" v-on:click="addItem(item)">+</div>
                </div>
            </div>
        </div>
        <div class="cart" id="cart">
            <div class="head">
                <div class="cartTitle">
                    <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/scale.png" alt=""
                        class="cartIcon">
                    <div class="title">Carrito</div>
                </div>
                <div class="verduraCart" v-if="cartHas.verdura == true" v-cloak>
                    <div class="verduras">Verduras</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'verdura'">
                        <img :src="`$item.image`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.fruta == true">
                    <div class="frutas">Frutas</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'fruta'">
                        <img :src="`$item.image`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.almacen == true">
                    <div class="frutas">Almacen
                        <div class="subtitle">Todos estos productos son agroecológicos también</div>
                    </div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'almacen'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="verduraCart" v-if="cartHas.vinos == true" v-cloak>
                    <div class="verduras">Vinos</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'vinos'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.medicina == true">
                    <div class="frutas">Medicina</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'medicina'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.comida == true">
                    <div class="frutas">Comida</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'comida'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartTotal">Total = ${{cartTotal}}</div>
            <form action="#" class="userForm">
                <div class="title">Datos de Usuario</div>
                <div class="required">* Por favor complete los campos requeridos</div>
                <input  type="text" placeholder="Nombre" v-model="userData.name">
                <input  type="text" placeholder="Telefono" v-model="userData.phone">
                <div class="delivery">
                    <select class="requiredInput" name="pago" id="pago" @change="setPaymentType($event)">
                        <option value="1" disabled selected>Escoger forma de pago</option>
                        <option value="Mercado Pago">Mercado Pago</option>
                        <option value="Efectivo">Efectivo</option>
                    </select>
                </div>
                <div class="delivery">
                    <select class="requiredInput" v-model="userData.support" required="required" @change="setSupport($event)" >
                        <option disabled value="">Quien tomó el pedido?</option>
                        <option v-for="supp in supports" v-bind:value="supp.value">
                            {{ supp.text }}
                        </option>
                    </select>
                </div>
            </form>
            <div class="schedule" v-if="userData.pago == 'Mercado Pago'">
                <div class="title">
                    ESCANEÁ EL SIGUIENTE CÓDIGO PARA PAGAR CON MERCADO PAGO <br>
                    Despues asegurate de hacer 'click' en 'Realizar Pedido'
                </div>
                <img src="https://github.com/vrde-club/shopV/blob/master/images/qr.jpg?raw=true" alt=""
                    class="logoMainIcon">
                <div class="mailLink">Tambien podes usar este mail - club.vrde@gmail.com</div>
            </div>
            <div class="confirm" v-on:click="formValidate(cart)">Realizar pedido</div>
            <div class="confirmSale" v-show="confirmModal == true"
                v-bind:class="{ activateModal: confirmModal == true }" style="opacity: 0;">
                <div class="modal">
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title error">Por favor complete los <br> campos requeridos.</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === false">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">Estas segure {{ userData.support }} ?</div>
                        <div class="confirmButton" v-on:click="saveSale(cart)">Seee, mandale! </div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title" v-show="saleComplete === true"> Quedate trancu que ya se mandó el pedido</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/21ca6c38ad.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-performance.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="main.js"></script>
</body>

</html>