html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
strong {
    font-weight: 600;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.site {
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    color: white;
}

.site .darkscreen {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #000000a8;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 100;
}
.site .darkscreen.hide{
display:none;
}
.site .darkscreen .modal{
    background: white;
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    position: relative;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}
.site .modal .close{
	
position: absolute;
	
top: 10px;
	
right: 10px;
	
cursor: pointer;
	
height: 30px;
	
width: 30px;
	
background-color: #00000038;
	
display: flex;
	
justify-content: center;
	
align-items: center;
	
color: #333333a8;
	
/* font-weight: bold; */
	
box-shadow: 0px 3px 6px #33333329;
}
.site .darkscreen .modal .title{
    font-family: 'Amatic SC';
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.site .darkscreen .modal .sub{
    max-width: 430px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}
.site .darkscreen .modal .section{
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.site .darkscreen .modal .section .item {
    background-color: #333;
    color: white;
    font-size: 12px;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.site .darkscreen .modal .section .item .node{
    display: block;
    height: 100%;
    width: 100px;
    background-color: gray;
}
.site .darkscreen .modal .section .item .nodeLink{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    left: 0;
    display: block;
}
.site .darkscreen .modal .section .item .text{line-height: 4px;}
.site .darkscreen .modal .section .item .text p{
    height: 20px;
    line-height: 14px;
    position: relative;
    top: 2px;
}
.site .darkscreen .modal .section .item .text .title{}
.site .darkscreen .modal .section .item .text .sub{}

.site .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 550px;
    /* background-color: #333; */
    background-image: url('images/nov.jpg');
    background-color: white;
    background-size: cover;
    background-position: center;
}
.site .header .title{
    font-family: 'Amatic SC';
    font-size: 80px;
    font-weight: 700;
}
.site .header .sub{
    margin-top: 40px;
    max-width: 640px;
    line-height: 27px;
    font-weight: lighter;
    font-size: 22px;
    padding: 20px 40px;
}
.site .header .action{
    margin-top: 40px;
    background-color: #0000009e;
    padding: 14px;
    width: 160px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    transition: 0.1s all ease-in-out;
    text-decoration: none;
}

.site .new {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 */
    color: #333;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e2633+1,3f4c6b+100 */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(135deg,  rgb(4, 5, 8) 1%,rgb(83, 99, 138) 100%); */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     /* IE6-9 fallback on horizontal gradient */
    /* box-shadow: 0px 0px 18px 30px rgba(0,0,0,.06); */
}
.site .new .title{
    font-size: 39px;
    line-height: 44px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.site .new .text{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    width: 100%;
    margin-bottom: 20px;
}

.site .new .logoFont {
	    font-family: 'Amatic SC';
	    opacity: 0.5;
	    font-size: 40px;
}

.site .new .newImg {
    height: 540px;
}
.site .new .sub{
	
max-width: 500px;
	
line-height: 27px;
	
font-weight: lighter;
	
font-size: 22px;
	
padding: 40px 40px;
	
text-align: center;
	
display: flex;
	
justify-content: space-evenly;
	
align-items: center;
	
flex-direction: column;
	
margin-top: 30px;
}
.site .new .action{
    background-color: rgb(0, 204, 101);
    padding: 15px 24px;
    color: #fff;
    font-size: 30px;
    transition: 0.1s all ease-in-out;
    text-decoration: none;
    margin-bottom: -10px;
    margin: 14px;
    text-align: center;
    cursor: pointer;
    font-family: 'Amatic SC';
    font-weight: bold;
    box-shadow: 0px 3px 6px #33333329;
}
.site .actions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
   
.site .new .action:hover{
}
.site .gallery {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 40px;
    /* box-shadow: 10px -22px 20px rgba(0,0,0,.06); */
}
.site .gallery .link {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}
.site .gallery .item{
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 0px;
    flex: 1;
    min-height: 250px;
    margin: 20px;
    max-width: 380px;
    min-width: 200px;
    box-shadow: 0 8px 10px rgba(0,0,0,.06);
    background-color: white;
    background-size: cover;
    background-position: right;
}
.site .gallery .vrde{
    width: 200px;
    position: relative;
}
.site .gallery .fractal{
    background-image: url(images/talleres.jpg);
}
.site .gallery .cocina{
    background-image: url(images/cocina.jpg);
}
.site .gallery .urban{
    background-image: url(images/radio.jpg);
    background-position: left;
}
.site .gallery .item .title{
    background-color: #000000b3;
    margin-top: 20px;
    font-size: 17px;
    position: absolute;
    bottom: 0px;
    left: 0;
    padding: 10px;
    text-align: center;
}

.site .footer {
    height: 130px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.site .footer .item {

position: relative;

padding: 0px;

/* width: 180px; */

margin: 26px;
}

.site .footer .item img{
	
width: 15px;
}

.site .footer .item .insta{
	
position: absolute;
	
left: -25px;
}

.site .footer .item .celu{
	
position: absolute;
	
left: -20px;
	
width: 15px;
}
@media (max-width: 400px) {
   
  .site .header .title {
    font-family: 'Amatic SC';
    font-size: 50px;
    font-weight: 600;
  }

    .site .new .title {
    /* display: flex; */
		justify-content: center;
		align-items: center;
		font-size: 40px;
		margin-top: 0px;
		font-weight: 400;
		line-height: 50px;
    }

    .site .new .text {
    	font-size: 20px;
    	padding: 20px;
    }
    .site .gallery .vrde {
		width: 150px;
		position: relative;
	}
	.site .gallery {

padding: 0px;
}
.site .darkscreen .modal .section .item {

width: 200px;

height: 30px;

justify-content: space-evenly;
}
.site .darkscreen .modal .section .item p {height: 15px;text-align: center;padding-top: 2px;position: relative;top: 5px;}
.site .darkscreen .modal .section .item .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.site .darkscreen .modal .title {

font-size: 25px;

width: 190px;

margin-bottom: 10px;

margin-top: 0px;
}
.site .darkscreen .modal .sub {

font-size: 14px;

line-height: 18px;
}
.site .header .sub {

padding: 10px;

margin-top: 10px;

font-size: 20px;
}
}
