<!DOCTYPE html>
<html lang="es">
<head></head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nodo Pura</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico"
        href="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/logoconjuro.ico" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
</head>

<body>
    <div class="main" id="app">
        <!-- <div class="top-bar">
            <div data-netlify-identity-menu></div>
        </div> -->
        <div class="totalFloat" id="totalFloat">${{cartTotal}}</div>
        <div class="header">
            <div class="headerDisplay">
                <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/logoconjuro.png" alt=""
                    class="logo" id="conjunto">
                <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/logoPura.jpg" alt=""
                    class="logo" id="nodo">
                <div class="contain">
                    <div class="search">
                        <div class="searchLabel">Bienvenides!</div>
                        <input id="searchInput" v-on:input="scrollTopProducts()" type="text" v-model="search"
                            placeholder="Que buscas?">
                    </div>
                    <div class="filter">
                        <a class="button" v-bind:class="{active : active['verdura'].status}"
                            @click="setVisibility('verdura');"><img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/carrot.png">Verduras</a>

                        <a class="button" v-bind:class="{active : active['fruta'].status}"
                            @click="setVisibility('fruta');"><img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/apple.png">Frutas</a>

                        <a class="button" v-bind:class="{active : active['almacen'].status}"
                            @click="setVisibility('almacen');"><img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/milk.png">Almacén</a>
                    </div>
                    <div class="filter">
                        <a class="button" v-bind:class="{active : active['vinos'].status}"
                            @click="setVisibility('vinos');"><img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/wine.png">Vinos</a>

                        <a class="button" v-bind:class="{active : active['medicina'].status}"
                            @click="setVisibility('medicina');"><img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/pills.png">Medicina</a>

                        <a class="button" id="lines2" v-bind:class="{active : active['comida'].status}"
                            @click="setVisibility('comida');"><img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/comida.png">Viandas Pura</a>
                    </div>
                </div>
            </div>
        </div>
       <div class="boxAviso">
          <div class="aviso">
                        Te damos la bienvenida a la compra comunitaria de Pura Espacio.
                        <br><br>
                        Buscamos acortar distancias entre el campo y el barrio, dándote la posibilidad de compra directa con
                        los productores, eliminando así intermediarios innecesarios.
                        <br><br>    
                        Lo revolucionario de este tipo de compra comunitaria está en
                        que los precios de los productos son consecuencia de la cantidad de pedidos que se realicen,
                        así reducimos los costos de los alimentos y su logística (transporte del campo a la ciudad).
                        <br><br>
                        Si somos más, pagamos menos.
                        <br><br>
          </div>
          <div class="aviso" id="2">    
                        Recordá que:<br>
                        • Tenes tiempo de hacer tu pedido hasta el Sabado a las 18:00.<br>
                        • Vas a poder retirarlo a partir del Miércoles desde las 13:00 hasta las 16:30.<br>
                        • También realizamos envíos a domicilio los Miércoles a partir de las 13 hrs.
                        <br>• La disponibilidad del campo esta sujeta a factores climaticos o de estación.
                        <br>(de todas formas siempre vamos a buscar la manera de compensarte)
                        <br><br>
                        ¿Tenés dudas? Comunicate con nosotros por Whatsapp al 11 68857582

                    </div>
        </div>
        <div class="products" id="products">
            <div v-cloak class="item" v-for="item in orderBy(filteredItems, 'name')">
                <img :src="`${item.image}`" class="productImage">
                <div class="title">
                    {{ item.name }} = ${{ item.price }}
                    <br>
                </div>
                <div class="setAmount">
                    <div class="remove" v-on:click="removeItem(item)">-</div>
                    <input type="number" step="any" class="amount" v-on:input="updateValue(item)"
                        v-model="item.amount" />
                    <div class="add" v-on:click="addItem(item)">+</div>
                </div>
            </div>
        </div>
        <div class="cart" id="cart">
            <div class="head">
                <div class="cartTitle">
                    <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/scale.png" alt=""
                        class="cartIcon">
                    <div class="title">Carrito</div>
                </div>
                <div class="verduraCart" v-if="cartHas.verdura == true" v-cloak>
                    <div class="verduras">Verduras</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'verdura'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.fruta == true">
                    <div class="frutas">Frutas</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'fruta'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.almacen == true">
                    <div class="frutas">Almacen
                        <div class="subtitle">Todos estos productos son agroecológicos también</div>
                    </div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'almacen'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="verduraCart" v-if="cartHas.vinos == true" v-cloak>
                    <div class="verduras">Vinos</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'vinos'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.medicina == true">
                    <div class="frutas">Medicina</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'medicina'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.comida == true">
                    <div class="frutas">Viandas</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'comida'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartTotal">Total = ${{cartTotal}}</div>
            <form action="#" class="userForm">
                <div class="title">Datos de Usuario</div>
                <div class="required">* Por favor complete los campos requeridos</div>
                <input class="requiredInput" type="text" placeholder="Nombre" v-model="userData.name" required>
                <input class="requiredInput" type="tel" placeholder="Telefono" v-model="userData.phone" required
                    min-length="8">
                <div class="delivery">
                    <select class="requiredInput" name="pago" id="pago" @change="setPaymentType($event)">
                        <option value="1" disabled selected>Escoger forma de pago</option>
                        <option value="Mercado Pago">Mercado Pago</option>
                        <option value="Efectivo">Efectivo</option>
                    </select>
                </div>
                <div class="delivery">
                    <select name="delivery" id="delivery" required="required" class="requiredInput"
                        @change="changeLocation($event)">
                        <option value="0" disabled selected>Escoger forma de entrega</option>
                        <option value="1">Retirar en Primera Junta 1029, San isidro.</option>
                        <!--  <option value="2">Retirar en H. de la Quintana 1540, Florida.</option> -->
                        <option value="3">Envio a Domicilio</option>
                    </select>
                </div>
                <div class="preference">
                    <div class="title">Escribinos aqui 3 variedades que te gustaria que enviemos en caso de faltantes.
                    </div>
                    <textarea type="text" class="pref" v-model="userData.preference"
                        placeholder="Ejemplo (apio, anco, tomate)">
                    </textarea>
                </div>
                <input class="requiredInput" v-model="userData.address" v-if="userData.delivery == 3" type="text"
                    placeholder="Direccion" v-model="userData.address">
                <input class="requiredInput" v-model="userData.localidad" v-if="userData.delivery == 3" type="text"
                    placeholder="Localidad" v-model="userData.localidad">
                    
                <div class="deliveryLabel" v-if="userData.delivery == 3">
                    <h1 style="font-size: 20px;">Costo promedio</h1> <br>
                    <h4 style="font-size: 16px;">San Isidro:</h4> <br><br>
                    San Isidro = $100 <br>
                    Martinez = $150 <br>
                    Beccar = $150 <br>
                    <h4 style="font-size: 16px;">San Fernando:</h4> <br><br>
                    Victoria = $150 <br>
                    San Fernando = $200 <br>
                    <h4 style="font-size: 16px;">Vicente López:</h4><br>
                    Olivos = $200 <br>

                </div>

            </form>
            <div class="schedule" v-if="userData.pago == 'Mercado Pago'">
                <div class="title">
                    ESCANEÁ EL SIGUIENTE CÓDIGO PARA PAGAR CON MERCADO PAGO <br>
                    Despues asegurate de hacer 'click' en 'Realizar Pedido'
                </div>
                <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/qrconjunto.jpeg" alt=""
                    class="logoMainIcon">
                <div class="mailLink">Tambien podes usar este mail - theconjunto@gmail.com</div>
            </div>
            <div class="confirm" v-on:click="formValidate(cart)">Realizar pedido</div>
            <div class="confirmSale" v-show="confirmModal == true"
                v-bind:class="{ activateModal: confirmModal == true }" style="opacity: 0;">
                <div class="modal">
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title error">Por favor complete los <br> campos requeridos.</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === false">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">Confirmar pedido?</div>
                        <div class="confirmButton" v-on:click="saveSale(cart)">Confirmar</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">
                            <div v-if="userData.delivery == 1">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Podes retirarlo el día Miércoles de la semana que viene <br>
                                desde las 13:00 hasta las 14:30
                                por el Nodo de Pura, Primera Junta 1029.
                            </div>
                            <div v-if="userData.delivery == 3">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Preparate para recibirlo el Miercoles de la semana que viene. <br>
                                Nos vamos a comunicar con vos para coordinar la entrega.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/logoconjuro.png" alt=""
                    class="footerLogo">
                <div class="social">
                    <div class="link">
                        <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/insta.png" alt=""
                            class="insta">
                        <a href="http://instagram.com/vrde_club" target="_blank">Seguinos en Instagram /vrde_club</a>
                        <a href="http://instagram.com/pura.alimentacion" target="_blank">Seguinos en Instagram /pura.alimentacion</a>
                    </div>
                    <div class="contact">
                        <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/whatsapp.png" alt=""
                            class="phone">
                        Dudas y consultas llamanos: 11 6885 7582
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script src="main.js"></script>
</body>

</html>