<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nodo La Lucila</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="./images/shops/logo.png" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
</head>

<body>
    <div class="main" id="app">
        <!-- <div class="top-bar">
            <div data-netlify-identity-menu></div>
        </div> -->
        <div class="totalFloat" id="totalFloat">${{cartTotal}}</div>
        <div class="header">
            <img src="./images/shops/logo.png" alt="" class="logo">
            <div class="contain">
                <div class="search">
                    <div class="searchLabel">Bienvenides!</div>
                    <input id="searchInput" v-on:input="scrollTopProducts()" type="text" v-model="search"
                        placeholder="Que buscas?">
                </div>
                <div class="filter">
                    <a class="button" v-bind:class="{active : active['verdura'].status}"
                        @click="setVisibility('verdura');"><img class="filterIcon"
                            src="./images/shops/carrot.png">Verduras</a>
                    <a class="button" v-bind:class="{active : active['fruta'].status}"
                        @click="setVisibility('fruta');"><img class="filterIcon"
                            src="./images/shops/apple.png">Frutas</a>
                    <a class="button" v-bind:class="{active : active['almacen'].status}"
                        @click="setVisibility('almacen');"><img class="filterIcon"
                            src="./images/shops/milk.png">Almacén</a>
                </div>
            </div>
            <div class="headerDisplay">
                <div class="aviso">
                    <div class="avisoTitle">Compra Comunitaria La Lucila</div>
                    Te damos la bienvenida a la compra comunitaria de La Lucila.
                    <br><br>
                    Buscamos acortar distancias entre el campo y el barrio, dándote la posibilidad de compra directa con
                    los productores, eliminando así intermediarios innecesarios.
                    <br><br>
                    Lo revolucionario de este tipo de compra comunitaria está en
                    que los precios de los productos son consecuencia de la cantidad de pedidos que se realicen,
                    así reducimos los costos de los alimentos y su logística (transporte del campo a la ciudad).
                    <br><br>
                    Si somos más, pagamos menos.
                    <br><br>
                    Recordá que:<br>
                    • Tenes tiempo de hacer tu pedido hasta el Sabado a las 18:00.<br>
                    • Vas a poder retirarlo a partir del Miércoles desde las 12:00 hasta las 20:00.<br>
                    • También realizamos envíos a domicilio los Miércoles a partir de las 16 hrs.
                    <br>• La disponibilidad del campo esta sujeta a factores climaticos o de estación.
                    <br>(de todas formas siempre vamos a buscar la manera de compensarte)
                    <br><br>
                    ¿Tenés dudas? Comunicate con nosotros por Whatsapp al 11 6955 3325 .
                </div>
            </div>
        </div>
        <div class="products" id="products">
            <div v-cloak class="item" v-for="item in orderBy(filteredItems, 'name')">
                <img :src="`../images/shops/${item.image}`" class="productImage">
                <div class="title">
                    {{item.name}} = ${{ item.price }}
                    <br>
                    <!-- <strong>Stock : {{ item.stock }}</strong> -->
                </div>
                <div class="setAmount">
                    <div class="remove" v-on:click="removeItem(item)">-</div>
                    <input type="number" step="any" class="amount" v-on:input="updateValue(item)"
                        v-model="item.amount" />
                    <div class="add" v-on:click="addItem(item)">+</div>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="head">
                <div class="cartTitle">
                    <img src="`../images/shops/${item.image}`" alt="" class="cartIcon">
                    <div class="title">Carrito</div>
                </div>
                <div class="verduraCart" v-if="cartHas.verdura == true" v-cloak>
                    <div class="verduras">Verduras</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'verdura'">
                        <img :src="`../images/shops/${item.image}`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.fruta == true">
                    <div class="frutas">Frutas</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'fruta'">
                        <img :src="`../images/shops/${item.image}`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.almacen == true">
                    <div class="frutas">Almacen
                        <div class="subtitle">Todos estos productos son agroecológicos también</div>
                    </div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'almacen'">
                        <img :src="`../images/shops/${item.image}`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartTotal">Total = ${{cartTotal}}</div>
            <div class="schedule">
                <div class="title">
                    ESCANEÁ EL SIGUIENTE CÓDIGO PARA PAGAR CON MERCADO PAGO
                </div>
                <img src="./images/shops/qrconjunto.jpeg" alt="" class="logoMainIcon">
            </div>
            <form action="#" class="userForm">
                <div class="title">Datos de Usuario</div>
                <div class="required">* Por favor complete los campos requeridos</div>
                <input class="requiredInput" type="text" placeholder="Nombre" v-model="userData.name" required>
                <input class="requiredInput" type="tel" placeholder="Telefono" v-model="userData.phone" required
                    min-length="8">
                <div class="delivery">
                    <select name="delivery" id="delivery" required="required" class="requiredInput"
                        @change="changeLocation($event)">
                        <option value="0" disabled selected>Escoger forma de entrega</option>
                        <option value="1">Retirar en Anchorena 684, La Lucila</option>
                        <!--  <option value="2">Retirar en H. de la Quintana 1540, Florida.</option> -->
                        <option value="3">Envio a Domicilio</option>
                    </select>
                </div>
                <input class="requiredInput" v-model="userData.address" v-if="userData.delivery == 3" type="text"
                    placeholder="Direccion" v-model="userData.address">
                <div class="deliveryLabel" v-if="userData.delivery == 3">
                    <h1 style="font-size: 20px;">Costo promedio</h1> <br>
                    <h4 style="font-size: 16px;">Vicente López:</h4><br>
                    La Lucila = $100 <br>
                    Olivos = $120 <br>
                    Florida = $150 <br>
                    Munro = $200 <br><br>
                    <h4 style="font-size: 16px;">San Isidro:</h4> <br><br>
                    Martinez = $150 <br>
                    Acassuso = $200 <br>
                    San Isidro = $250 <br>
                    Beccar = $300 <br>
                    Tigre = $400 <br> <br>
                    <h4 style="font-size: 16px;">San Fernando:</h4> <br><br>
                    San Fernando = $350 <br>
                    Victoria = $400 <br>
                    Virreyes = $450 <br>
                    Tigre = $500 <br>
                </div>
            </form>
            <div class="confirm" v-on:click="formValidate(cart)">Realizar pedido</div>
            <div class="confirmSale" v-show="confirmModal == true"
                v-bind:class="{ activateModal: confirmModal == true }" style="opacity: 0;">
                <div class="modal">
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title error">Por favor complete los <br> campos requeridos.</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === false">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">Confirmar pedido?</div>
                        <div class="confirmButton" v-on:click="saveSale(cart)">Confirmar</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">
                            <div v-if="userData.delivery == 1">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Podes retirarlo el día Miércoles de la semana que viene <br>
                                desde las 14:00 hasta las 18:00
                                por el Nodo de La Lucila, Doctor Tomás M. de Anchorena 684.
                            </div>
                            <div v-if="userData.delivery == 3">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Preparate para recibirlo el Miercoles de la semana que viene. <br>
                                Nos vamos a comunicar con vos para coordinar la entrega.
                            </div>
                            <div v-if="userData.delivery == 2">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Podes retirarlo el día Miércoles de la semana que viene
                                desde las 14:00 hasta las 18:00
                                por el Centro de Yoga Avalom, H. de la Quintana 1540, Florida.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="schedule">
                <div class="title">
                    <img class="btc" src="images/btc.jpg" alt=""> PAGA CON BITCOIN!
                    <br>
                    <strong style="color:#333;">1DdkCoDbAjPLgdkvQRizmLi438M16piqFB</strong>
                </div>
            </div> -->
            <!-- <div id="replybox"></div> -->

            <a class="top-link hide" id="js-top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6">
                    <path d="M12 6H0l6-6z" /></svg>
            </a>
            <div class="footer">
                <img src="images/" alt="" class="footerLogo">
                <div class="social">
                    <div class="link">
                        <img src="./images/shops/fb.png" alt="" class="fb">
                        <img src="./images/shops/insta.png" alt="" class="insta">
                        Seguinos en Instagram /elconjuntoorg
                    </div>
                    <div class="contact">
                        <img src="./images/shops/phone.png" alt="" class="phone">
                        Dudas y consultas llamanos: 11 6955 3325
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <!-- <script src="https://cdn.getreplybox.com/js/embed.js"></script> -->
    <script src="main.js"></script>
</body>

</html>