// Your variable overrides
$body-bg: #000;
$body-color: #111;
$font-family-base: "Ubuntu", sans-serif;

.btn {
  border-radius: 5%;
}
#logout {
  background-color: #cc3838;
}
.card {
  background-color: #f39c12bf !important;
}
body {
  background-color: white;
  margin-top: 110px;
  color: #333;
  text-align: center;
}
.navbar {
  background-color: #333;
}
.navbar {
  background-color: #333;
}
a {
  color: whitesmoke;
  background-color: #41b883;
  padding: 6px;
}
.btn-light {
  border-radius: 5%;
}
