<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vrde Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico"
        href="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/faviconvrde.ico" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
</head>

<body>
    <div class="main" id="app">
        <div class="totalFloat" id="totalFloat">${{cartTotal}}</div>
        <div class="header">
            <div class="headerDisplay">
                <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/logovrde.png" alt=""
                    class="logo">
                <div class="contain">
                    <div class="search">
                        <div class="searchLabel">Bienvenides!</div>
                        <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/onlyLogoVrde.png" alt="" class="headerLogo">
                        <input id="searchInput" v-on:input="scrollTopProducts()" type="text" v-model="search"
                            placeholder="Que buscas?">
                    </div>
                    <div class="filter" id="up">
                        <a class="button" v-bind:class="{active : active['verdura'].status}"
                        @click="setVisibility('verdura');">
                        <img class="filterIcon"
                        src="https://storage.cloud.google.com/el-conjunto.appspot.com/carrot.png">Verduras</a>
                        <a class="button" v-bind:class="{active : active['fruta'].status}"
                        @click="setVisibility('fruta');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/apple.png">Frutas</a>
                        <a class="button" v-bind:class="{active : active['almacen'].status}"
                            @click="setVisibility('almacen');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/milk.png">Almacén</a>
                    </div>
                    <div class="filter" id="down">
                        <a class="button" v-bind:class="{active : active['vinos'].status}"
                            @click="setVisibility('vinos');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/wine.png">Vinos</a>

                         <a class="button" id="lines2" v-bind:class="{active : active['medicina'].status}"
                            @click="setVisibility('medicina');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/pills.png">Cuidado Personal</a>

                        <a class="button" id="lines2" v-bind:class="{active : active['comida'].status}"
                            @click="setVisibility('comida');">
                            <img class="filterIcon"
                                src="https://storage.cloud.google.com/el-conjunto.appspot.com/comida.png">Productos Locales</a>
                    </div>
                </div>
                <div class="aviso">
                    <br><br>
                    <h1>Todos nuestros productos son libres de agrotóxicos nocivos para tu salud:</h1>
                    <ul>
                        <li>AGROECOLÓGICOS  <i class="fas fa-check" style="color:green"></i></li>
                        <li>ORGÁNICOS  <i class="fas fa-check" style="color:green"></i></li>
                    </ul><br>
                    <i class="fas fa-store fa-2x"></i><br>
                    Realizá tu pedido y retiralo por nuestro local en Dr. Tomás Anchorena 684, La Lucila: <br>
                    <i class="fas fa-exclamation"></i> ATENCIÓN CAMBIO DE HORARIOS: <i class="fas fa-exclamation"></i> <br>
                    <i class="far fa-clock" ></i> Martes a Viernes de 10 a 20 hs. <br>
                    <i class="far fa-clock" ></i> Sábados de 12 a 15 hs.<br> <br>
                    <i class="fas fa-bicycle fa-2x"></i><br>
                    Envíos a domicilio: <br> <i class="far fa-clock" ></i>
                    Sábados a partir de las 16 hs. <br>
                    Esperanos con tu bolsa para recibir el pedido, y el dinero en sobre ♥<br><br>
                    <i class="fas fa-users"></i>
                    <br /> También realizamos COMPRAS COMUNITARIAS,<br> accedé a toda la información:
                    <a href="http://www.elconjunto.org/amigues" target="_blank">www.elconjunto.org/amigues</a><br><br>
                    <i class="fab fa-whatsapp"></i> Consultas: 11 6536 2299
                </div>
            </div>
        </div>
        <div class="products" id="products">
            <div v-cloak class="item" v-for="item in orderBy(filteredItems, 'name')">
                <img :src="`${item.image}`" class="productImage">
                <div class="title">
                    {{item.name}} = ${{ item.price }}<br>
                </div>
                <div class="agotado" v-if="item.outOfStock === true">Agotado</div>
                <div class="setAmount">
                    <div class="remove" v-on:click="removeItem(item)">-</div>
                    <input type="number" step="any" class="amount" v-on:input="updateValue(item)"
                        v-model="item.amount" />
                    <div class="add" v-on:click="addItem(item)">+</div>
                </div>
            </div>
        </div>
        <div class="cart" id="cart">
            <div class="head">
                <div class="cartTitle">
                    <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/scale.png" alt=""
                        class="cartIcon">
                    <div class="title">Carrito</div>
                </div>
                <div class="verduraCart" v-if="cartHas.verdura == true" v-cloak>
                    <div class="verduras">Verduras</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'verdura'">
                        <img :src="`$item.image`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.fruta == true">
                    <div class="frutas">Frutas</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'fruta'">
                        <img :src="`$item.image`" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.almacen == true">
                    <div class="frutas">Almacen
                        <div class="subtitle">Todos estos productos son agroecológicos también</div>
                    </div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'almacen'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="verduraCart" v-if="cartHas.vinos == true" v-cloak>
                    <div class="verduras">Vinos</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'vinos'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{item.price}} * {{item.amount}}</div>
                                <div class="equals"> = </div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="frutaCart" v-if="cartHas.medicina == true">
                    <div class="frutas">Medicina</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'medicina'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="almacenCart" v-if="cartHas.comida == true">
                    <div class="frutas">Comida</div>
                    <div class="item" v-for="item in cart" v-if="item.type == 'comida'">
                        <img :src="item.image" alt="" class="img">
                        <div class="itemName">
                            <div class="name">{{item.name}}</div>
                            <div class="itemTotal">
                                <div class="amount">${{ item.price }} * {{item.amount}}</div>
                                <div class="equals">=</div>
                                <div class="total"> ${{item.total}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartTotal">Total = ${{cartTotal}}</div>
            <form action="#" class="userForm">
                <div class="title">Datos de Usuario</div>
                <div class="required">* Por favor complete los campos requeridos</div>
                <input class="requiredInput" type="text" placeholder="Nombre" v-model="userData.name" required>
                <input class="requiredInput" type="tel" placeholder="Telefono" v-model="userData.phone" required
                    min-length="8">
                <div class="delivery">
                    <select class="requiredInput" name="pago" id="pago" @change="setPaymentType($event)">
                        <option value="1" disabled selected>Escoger forma de pago</option>
                        <option value="Mercado Pago Sin Recargo">Mercado Pago (Debito o Plata en la cuenta)</option>
                        <option value="Mercado Pago Recargo">Mercado Pago (Credito + 7% )</option>
                        <option value="Efectivo">Efectivo</option>
                    </select>
                </div>
                <div class="delivery">
                    <select name="delivery" id="delivery" required="required" class="requiredInput"
                        @change="changeLocation($event)">
                        <option value="0" disabled selected>Escoger forma de entrega</option>
                        <option value="3">Retiro el Sábado (Anchorena)</option>
                        <option value="2">Retiro en el día (Anchorena)</option>
                        <option value="1">Envío a Domicilio</option>
                    </select>
                </div>
                <div class="preference">
                    <div class="title">Selecciona 2 variedades, en caso de faltantes:
                    </div>
                    <select name="preference1" id="preference1" required="required" class="requiredInput" @change="changePreference($event)" >
                        <option value="" disabled selected>Elegí tu variedad </option>
                        <option value="Platiqui">Devolución del dinero</option>
                        <option value="Acelga">Acelga</option>
                        <option value="Anco">Anco</option>
                        <option value="Apio">Apio</option>
                        <option value="Batata">Batata</option>
                        <option value="Caboutia">Caboutia</option>
                        <option value="Espinaca">Espinaca</option>
                        <option value="Hakusai">Hakusai</option>
                        <option value="Hinojo">Hinojo</option>
                        <option value="Lechuga">Lechuga</option>
                        <option value="Repollo">Repollo</option>
                        <option value="Rucula">Rúcula</option>
                        <option value="Papa">Papa</option>
                    </select>
                    <select name="preference2" id="preference2" required="required" class="requiredInput" @change="changePreference2($event)" >
                    <option value="" disabled selected>Elegí tu variedad</option>
                    <option value="Platiqui">Devolución del dinero</option>
                    <option value="Limón">Limón</option>
                    <option value="Mandarina">Mandarina</option>
                    <option value="Manzana Roja">Manzana Roja</option>
                    <option value="Manzana Vrde">Manzana Vrde</option>
                    <option value="Naranja">Naranja</option>
                    <option value="Palta">Palta</option>
                    <option value="Pera">Pera</option>
                    <option value="Pomelo">Pomelo</option>
                </select>
                </div>
                <input class="requiredInput" v-model="userData.address" v-if="userData.delivery == 1" type="text"
                    placeholder="Direccion" v-model="userData.address">

                <select class="requiredInput" v-model="userData.localidad" v-if="userData.delivery == 1" >
                    <option disabled value="">Seleccione una localidad</option>
                    <option v-for="localidad in localidades" v-bind:value="localidad.text">
                        {{ localidad.text}} {{localidad.value }}
                    </option>
                </select>
                <div class="deliveryLabel" v-if="userData.delivery == 2">
                    <h1 style="font-size: 20px;">Horarios para retirar:</h1> <br>
                    Martes a Viernes<br>
                    de 10hs a 15hs <br>
                </div>
                <div class="deliveryLabel" v-if="userData.delivery == 3">
                    <h1 style="font-size: 20px;">Horarios para retirar:</h1> <br>
                    <b>Sábado</b><br>
                    de 10hs a 18hs <br>
                </div>
            </form>
            <div class="schedule" v-if="userData.pago == 'Mercado Pago Sin Recargo' || userData.pago ==  'Mercado Pago Recargo'">
                <div class="title">
                    <i class="fas fa-exclamation fa-2x"></i><br>
                     CAMBIAMOS DE LUGAR EL QR. <br><br>
                     Tambien agregamos un 7% de recargo para pago con Tarjeta de Credito.
                    Hace Click en realizar pedido para enviarnos tu pedido y poder abonar. <br><br>
                </div>
                <!-- <img src="https://github.com/vrde-club/shopV/blob/master/images/qr.jpg?raw=true" alt=""
                    class="logoMainIcon">
                <div class="mailLink">Tambien podes usar este mail - club.vrde@gmail.com</div> -->
                <div class="title">
                    <i class="fas fa-arrow-down fa-2x"></i>
                </div>
            </div>
            <div class="confirm" v-on:click="formValidate(cart)">Realizar pedido</div>
            <div class="confirmSale" v-show="confirmModal == true"
                v-bind:class="{ activateModal: confirmModal == true }" style="opacity: 0;">
                <div class="modal">
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title error">Por favor complete los <br> campos requeridos.</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === false && fieldsMissing === false">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">Confirmar pedido?</div>
                        <div class="confirmButton" v-on:click="saveSale(cart)">Confirmar</div>
                    </div>
                    <div class="modalItem" v-show="saleComplete === true">
                        <div class="closeModal" @click="confirmModal = false">X</div>
                        <div class="title">
                            <div v-if="userData.delivery == 3">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Podes retirarlo por el local Sábados de 16hs a 20 hs.
                            </div>
                            <div v-if="userData.delivery == 2">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Podes retirarlo por el local, de Martes a Viernes entre las 10hs y las 15hs.
                            </div>
                            <div v-if="userData.delivery == 1">
                                Gracias! Su pedido se ha realizado con exito. <br>
                                Nos estaremos comunicando con vos para coordinar la entrega.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/onlyLogoVrde.png" alt="" class="footerLogo">
                <div class="social">
                    <div class="link">
                        <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/insta.png" alt=""
                            class="insta">
                        <a href="http://instagram.com/vrde_club" target="_blank">Seguinos en Instagram /vrde_club</a>
                    </div>
                    <div class="contact">
                        <img src="https://storage.cloud.google.com/el-conjunto.appspot.com/icons/whatsapp.png" alt=""
                            class="phone">
                        Dudas y consultas llamanos: 11 6536 2299
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/21ca6c38ad.js" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js" defer="defer"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-database.js" defer="defer"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-performance.js" defer="defer"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js" defer="defer"></script>
    <script src="main.js" defer="defer"></script>
</body>

</html>